.env

# Node
web/node_modules
web/.next
discord-bot/node_modules

# Swift
api/.build
api/.swiftpm

# Mac/Windows
.DS_Store
Thumbs.db
Caddyfile
CaddyfileServer
api/SCMDBSnapshot/*.json
!api/SCMDBSnapshot/.gitkeep
